*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body, html{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    position: fixed;
    z-index: 1;
}
nav{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dddddd;
}
.logo{
    margin-left: 80px;
    cursor: pointer;
}
.nav-menu{
    display: flex;
    margin-right: 80px;
}
li{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    margin: 0 20px;
    color: #6e6e6e;
    font-weight:600;
    transition: 0.3s;
    padding-bottom: 5px;

    position: relative;
}
.nav-link::after{
    color: #6900ff;
    content: " ";
    width: 0;
    height: 4px;
    background-color: #6900ff;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}
.nav-link:hover::after{
    color: #6900ff;
    width: 100%;
}
.hamburge{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    background-color: #6900ff;
    margin: 5px auto;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.container1{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container1 h1{
    font-size: 55px;
    margin-bottom: 50px;
}
.bnt1{
    padding: 7px 25px;
    border-radius: 12px;
    border: none;
    background-color: #6900ff;
    color: #fff;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    margin-right: 20px;
    transition: 0.5s;
}
.bnt1 a{
    text-decoration: none;
    color: aliceblue;
}
.bnt1:hover{
    background-color: #b391da;
}
.bnt2{
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}
.bnt2 a{
    color: black;
    text-decoration: none;
}
.container1 .right img{
    cursor: pointer;
}


.container2{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}


.container3{
    display: flex;
    justify-content: space-between;
    font-size: small;
    align-items: center;
    padding: 50px 80px;
    background-color: #b391da;
}


.container3 .left h3{
    color: #220742;
    margin-bottom: 10px;
}
.container3 .left h1{
    color: #fff;
    font-weight: bolder;
    margin-bottom: 10px;
}

.container3 .right h1{
    color: #fff;
    margin-bottom: 10px;
}
.container3 .right h3{
    color: #220742;
}


@media(max-width: 1024px){
    img{
        width: 90%;
    }

    .container1 h1{
        margin-top: 80px;
    }
    .container1{
        margin: 50px 0px;
        justify-content: center;
    }
    .container1 .right img{
        display: none;
    }
    .container1 .left{
        text-align: center;
        font-size: 40px;
    }
    .container1 img{
        width: 70%;
    }
    .bnt1{
        font-size: small;
    }
    .bnt2{
        font-size: small;
    }

    .footer .itens img{
        width: 7%;
    }
}

@media(max-width: 768px){
    .container2 img{
        width: 100%;
    }

    .container3{
        font-size: 10px;
        justify-content: space-between;
    }
    .container3 .left{
        padding-right: 40px;
    }

    .logo{
        z-index: 1;
    }
    .hamburge{
        display: block;
        margin-right: 80px;
        z-index: 1;
    }
    .hamburge.active.bar:nth-child(2){
        opacity: 0;
    }
    .hamburge.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburge.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 50vh;       
        border-radius: 0 0 20px 30px; 
        background: #dddddd;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav.active .nav-menu{
        clip-path: circle(1500px at 90% -15px);
        pointer-events: all;
    }


    header{
        position: fixed;
    }

    .container1 h1{
        margin-top: 80px;
    }
}

@media(max-width: 426px){
    header .logo{
        margin: 0;
    }
    header .hamburge{
        margin-right: 10px;
    }

    .container1{
        margin-top: 0;
        height: 90vh;
    }
    .container1 h1{
        font-size: 35px;
        margin-bottom: 20px;
    }

    .container2{
        flex-direction: column;
        margin-left: 0;
    }
    .container2 img{
        width: 100%;
    }
    .container2{
        margin-bottom: 80px;
    }

    .container3{
        flex-direction: column;
        font-size: 12px;
        padding: 30px 50px;
    }
    .container3 .left{
        padding-right: 0;
        padding-bottom: 50px;
    }

    .nav-menu{
        height: 70vh;
    }

    .footer h1{
        font-size: 15px;
    }
    .footer .itens img{
        width: 15%;
    }
}

@media(max-width: 376px){
    .container1 h1{
        font-size: 30px;
        margin-top: 0;
    }
    .container1{
        height: 90vh;
        margin-bottom: 0;
    }

    .footer h1{
        font-size: 25px;
    }
    .container2 img{
        width: 90%;
    }
    .container2{
        height: 115vh;
        justify-content: center;
        margin-bottom: 30px;
    }
}
@media(max-width: 321px){
    .container1 h1{
        font-size: 25px;
    }
    .footer h1{
        font-size: 20px;
    }
}



.footer{
    border-top: 50px solid #3d2d50;
    background-color: #24222f;
    height: 200px;
    width: 100%;
    margin-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
i{
    color: aliceblue;
    font-size: xx-large;
    padding: 0 15px;
    cursor: pointer;
    margin-bottom: 30px;
}
.nav-foot{
    display: flex;
}
.nav-foot a{
    color: rgb(111, 111, 111);
    text-decoration: none;
    margin: 0px 20px;
}
